html {
  height: 100%;
}

body {
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* HEADER */

h1 {
  text-align: center;
  color: #000000;
  font-size: 50px;
}

/* MAIN WRAPPER */

.wrapper {
  display: flex;
  justify-content: center;
  padding: 6%;
  margin: -5%;
  border-radius: 1%;
}

/* DISPLAY WIN BOARDS */

.display-board {
  height: 500px;
  width: 300px;
  background-color: white;
  opacity: 0.75;
  margin: 2%;
  margin-top: 6%;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}

.taxi,
.pizza {
  margin: auto;
  font-size: 90px;
  margin-top: 50%;
}

.display-player-one,
.display-player-two {
  margin: auto;
}

/* TIC-TAC-TOE-BOARD */

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 675px;
  background-color: white;
  opacity: 0.75;
  border-radius: 10px;
}

.board-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 45%;
  width: 65%;
  margin-bottom: 25%;
  font-size: 90px;
}

.box {
  border: 4px solid #1E97C1;
  height: 40%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INDIVIDUAL BOXES */

.box:nth-child(1) {
  border-top: none;
  border-left: none;
}

.box:nth-child(2) {
  border-top: none;
}

.box:nth-child(3) {
  border-top: none;
  border-right: none;
}

.box:nth-child(4) {
  border-left: none;
}

.box:nth-child(6) {
  border-right: none;
}

.box:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.box:nth-child(8) {
  border-bottom: none;
}

.box:nth-child(9) {
  border-bottom: none;
  border-right: none;
}

/* DISABLE CLICKS ON TIC-TAC-TOE-BOARD */

 .avoid-clicks {
   pointer-events: none;
 }
